{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<br>

<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Ingrese sus credenciales</h5>

          {{ form | crispy }}

          <a href={% url 'register' %} class="card-link">Registarse</a>
          <br>
          <a href="{% url 'password_reset' %}">¿Olvido su contraseña?</a>

          <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>
        </div>
      </div>


</form>

{% endblock %}