<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
     a {
      font-family:sans-serif;
      text-decoration: none;
      margin: 150px 700px;
      text-align: center;
     }

     p{
      text-align: center;
      font-family: sans-serif;
     }
  </style>
</head>
<body>

  {% block content %}
  <br>
  <br>
  <p>
    Le hemos enviado un mensaje con instrucciones a su correo para el cambio de su contraseña.
  </p>
  <p>
    si no recibiste el correo, porfavor asegurese de ingresar bien su correo, recuerde tambien revisar su carpeta de spam.
  </p>
  <br>
  <a href="{% url 'login' %}">Iniciar sesión</a>
  <br>
  <br>
  <a href="{% url 'password_reset' %}">atrás
  </a>
{% endblock %} 
  
</body>
</html>
