{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<h2>Publicacioness</h2>
<br>

<article class="all-browsers">
    <h1>¿Necesitas a un especialista? Buscalo Aqui!!</h1>
    <br>

    <article class=" Muro ">
  
      <div class="ad-wall">
        <div class="ad">
            <img src="{% static 'core/img/PRomo (1).png' %}" alt="Publicidad 1">
            <p>Producto 1: Descripción breve de la publicidad.</p>
            <hr>
            <button>Más Información</button>
        </div>
        <div class="ad">
            <img src="{% static 'core/img/PRomo (1).png' %}" alt="Publicidad 2">
            <p>Producto 2: Descripción breve de la publicidad.</p>
            <hr>
            <button>Más Información</button>
        </div>
        <div class="ad">
            <img src="{% static 'core/img/PRomo (1).png' %}" alt="Publicidad 3">
            <p>Producto 3: Descripción breve de la publicidad.</p>
            <hr>
            <button>Más Información</button>
        </div>
        <div class="ad">
          <img src="{% static 'core/img/PRomo (1).png' %}" alt="Publicidad 3">
          <p>Producto 4: Descripción breve de la publicidad.</p>
          <hr>
          <button>Más Información</button>
        </div>
        <div class="ad">
          <img src="{% static 'core/img/PRomo (1).png' %}" alt="Publicidad 3">
          <p>Producto 5: Descripción breve de la publicidad.</p>
          <hr>
          <button>Más Información</button>
        </div>
        <div class="ad">
          <img src="{% static 'core/img/PRomo (1).png' %}" alt="Publicidad 3">
          <p>Producto 6: Descripción breve de la publicidad.</p>
          <hr>
          <button>Más Información</button>
        </div>
        <div class="ad">
          <img src="{% static 'core/img/PRomo (1).png' %}" alt="Publicidad 3">
          <p>Producto 7: Descripción breve de la publicidad.</p>
          <hr>
          <button>Más Información</button>
        </div>
        <div class="ad">
          <img src="{% static 'core/img/PRomo (1).png' %}" alt="Publicidad 3">
          <p>Producto 8: Descripción breve de la publicidad.</p>
          <hr>
          <button>Más Información</button>
        </div>
        <!-- Agrega más anuncios según sea necesario -->
    </div>


    </article> 
  </article>

{% endblock %}