html{
    height: 100%;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    flex-direction: column;
}

form{
    
    border-radius: 5%;
    padding: 2rem;
    font-weight: 700px;
    box-shadow: 0 0 10px, rgb(0, 0, 0);
    max-width:max-content;
    margin: auto;
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px, black;
    border: none;
    padding: 1em;
}

h2{
    text-align: center;
}

form button{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: rgb(72, 0, 254);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(0, 4, 255);
}

main{
    flex: 1;
}