{% extends 'app/base.html' %}

{% load static %}

{% block contenido%}

<div class="formulario">
    <h1>Crear Cuenta </h1>
    <form method="post">
      <div class="username">
        <input type="text" required>
        <label>Nombre</label>
      </div>

      <div class="username">
        <input type="text" required>
        <label>Apellido</label>
      </div>

      <div class="username">
        <input type="text" required>
        <label>Gmail</label>
      </div>

      <div class="username">
        <input type="password" required>
        <label>Contraseña</label>
      </div>
      <div class="recordar">¿Olvido su contraseña?</div>
      <input type="submit" value="Iniciar">
      <div class="registrarse">
        <a href="{% url 'iniciarsesion' %}">Iniciar sesión</a>
      </div>
      <div class="registrarse">
        <a href="{% url 'home' %}">Volver a Home</a>
      </div>
    </form>
  </div>

{% endblock %}