{% block aside %}
{% endblock %}

<style>
  html{
  height: 100%;
  font-family: sans-serif;
}

body{
  background: linear-gradient(to bottom, transparent, rgb(227, 118, 15));
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  background-color: white;
  border-radius: 5%;
  padding: 2rem;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  
  margin:0 auto;
}

form input,
form select,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: none;
  padding: 1em;
}

form button{
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background-color: rgba(8, 222, 26, 0.786);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

form button:hover{
  background-color: rgb(0, 4, 255);
}

form .errorlist li{
  list-style-type: none;
  color: red;
}

@media screen and (max-width: 600px) {
  form{
      width: 90%;
  }
}
  a {
    font-family:sans-serif;
    font-weight: 700;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    padding: 15px 20px;
    display: block;
    width: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  a:hover {
      background-color: transparent;
      border: 2px solid rgb(30, 0, 255);
      color: rgb(34, 0, 255);
  }
</style>
{% block content %}
<div class="container d-flex ">
  <div class="row ">
    <form method="post" class="">
      <center><h4>¿Olvido su contraseña?</h4></center>
      <h4 class="mb-5 ">Ingrese su correo, y le enviaremos las instrucciones para cambiar la contraseña.</h4>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-2 d-flex divs">
      <button class="btn btn-success" type="Submit">Enviar</button>
      <br>
      <a href='/' class="btn btn-primary">Inicio</a>
      </div>
      
    </form>
  </div>
</div>
{% endblock %}
