<style>
    
  body{
  background: linear-gradient(to bottom, transparent, rgb(188, 224, 70));
  height: 100vh;
}

   a {
    font-family:sans-serif;
    text-decoration: none;
    margin: 150px 700px;
    text-align: center;
   }

   p{
    text-align: center;
    font-family: sans-serif;
   }
</style>
</head>
<body>

{% block content %}
<br>
<br>
<p>
  Le hemos enviado un mensaje con instrucciones a su correo para el cambio de contraseña.
</p>
<p>
  Si no recibió el correo, porfavor asegurese de ingresar bien su correo, recuerde tambien revisar su carpeta de spam.
</p>
<br>
<br>
<a href="{% url 'password_reset' %}">atrás
</a>
{% endblock %} 