
{% extends 'core/base.html' %}
{% load static %}

  <!-- <link rel="stylesheet" href="{% static 'core/css/styles.css' %}"> -->

  <style>
    body{
      height: 100%;
    }
  </style>
<!-- </head>
<body> -->
{% block aside %}
{% endblock %}

{% block content %}
<div class="container d-flex ">
  <div class="row ">
    <form method="post" class="">
      <h4>¿Olvido su contraseña?</h4>
      <h4 class="mb-5 ">Ingrese su correo, y le enviaremos las instrucciones para cambiar la contraseña.</h4>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-2 d-flex divs">
      <button class="btn btn-success" type="Submit">Enviar</button>
      </div>
      <hr>
    </form>
  </div>
</div>
{% endblock %}
