{% block content %}
  {% if validlink %}
  <style>
    html{
    height: 100%;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to bottom, transparent, rgb(227, 118, 15));
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: white;
    border-radius: 5%;
    padding: 2rem;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
    margin:0 auto;
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: none;
    padding: 1em;
}

form button{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: rgba(8, 222, 26, 0.786);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

form button:hover{
    background-color: rgb(0, 4, 255);
}

form .errorlist li{
    list-style-type: none;
    color: red;
}

@media screen and (max-width: 600px) {
    form{
        width: 90%;
    }
}
  </style>
     <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Cambiar Contraseña</button>
     </form>
   {% else %}
     <p>
       Si el link del cambio de contraseña es invalido, es posible que ya haya sido utilizado.
       Porfavor solicite un nuevo cambio de contraseña.
    </p>
   {% endif %}
 {% endblock %}